{% extends "dahmooingcow/base.html" %}
{% block content %}
   <h1>Video</h1>
    <div class="topnav" id="myTopnav">
		<a href="/">Home</a>
        <a href="/videos/">Videos</a>
        <a href="python.html">Python</a>
        <a href="about.html">About</a>
        <a href="soon.html">Coming Soon</a>
	</div>
    <div class="main">
        <iframe src="https://www.youtube.com/embed/pL84TJj0LlQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/bH7YFe9ZjSU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/kWxi3KWBlfw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/7ZZ2kfG4wjs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/7c-47edkPbM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/VAglgNSZQNc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/lGA9EawqKc0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/9Z-F4fFBo0k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>>
{% endblock %}